# Ignore ALL env secrets.
**/*.env

# Ignore certs.
**/*.pem
**/*.crt
**/*.key

etc/
data/
config/

# Git allow.
!config/freshrss/feed.ompl
!config/headscale/config.yaml
!data/authelia/configuration.yml
