services:

  external_proxy:
    image: traefik
    container_name: external_proxy
    restart: unless-stopped
    networks:
      - public_net
    command:
      - "--log.level=DEBUG"
      - "--api.insecure=false"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.constraints=Label(`traefik.scope`, `public`)"
      - "--providers.docker.network=public_net"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.provider=duckdns"
      - "--certificatesresolvers.letsencrypt.acme.email=mail@mail.com"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.disablePropagationCheck=true"
      - "--entrypoints.websecure.http.tls=true"
      - "--entrypoints.websecure.http.tls.certResolver=letsencrypt"
      - "--entrypoints.websecure.http.tls.domains[0].main=${PUBLIC_DOMAIN}"
      - "--entrypoints.websecure.http.tls.domains[0].sans=*.${PUBLIC_DOMAIN}"
      - "--entrypoints.websecure.http.tls.domains[1].main=${CONTROL_DOMAIN}"
      - "--entrypoints.websecure.http.tls.domains[1].sans=*.${CONTROL_DOMAIN}"
    volumes:
      - ./data/traefik/letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "80:80"
      - "443:443"
    environment:
      DUCKDNS_TOKEN: "${DUCKDNS_TOKEN}"

  # Personal website
  website:
    image: nginx:latest
    container_name: porto_website
    restart: unless-stopped
    networks:
      - public_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.website.rule=Host(`${PUBLIC_DOMAIN}`)"
      - "traefik.http.routers.website.entrypoints=websecure"
      - "traefik.scope=public"
    volumes:
      - /var/www/${PUBLIC_DOMAIN}:/usr/share/nginx/html:ro

  # VPN Control Plane.
  headscale:
    image: headscale/headscale:latest
    container_name: headscale
    restart: unless-stopped
    networks:
      - public_net
    # ports:
    #   - "50443:50443" # For gRPC.
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.headscale.rule=Host(`hs.${PUBLIC_DOMAIN}`)"
      - "traefik.http.routers.headscale.entrypoints=websecure"
      - "traefik.http.services.headscale.loadbalancer.server.port=8080"
      - "traefik.scope=public"
    volumes:
      - ./config/headscale:/etc/headscale
      - ./data/headscale:/var/lib/headscale
    command: serve
    healthcheck:
      test: ["CMD", "headscale", "health"]

networks:
  public_net:
    driver: bridge
